---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
// import Features2 from '~/components/widgets/Features2.astro';
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
// import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'CLIM — DevOps Association',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero>
    <Fragment slot="title">
      Welcome to CLIM association!
    </Fragment>

    <Fragment slot="subtitle">
      We are a group of friends and DevOps enthusiasts committed to mastering the art of continuous integration, delivery, and improvement.
      Our mission is to gain hands-on experience, expand our knowledge, and share our insights with a thriving community.
    </Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="objectives"
    tagline="Objectives"
    title="What are our objectives?"
    items={[
      {
        title: 'Gain Real-Life Experience',
        description:
          'We believe that hands-on experience is the cornerstone of learning. Through practical projects and real-world challenges, we aim to deepen our understanding of DevOps methodologies and tools',
        icon: 'tabler:server',
      },
      {
        title: 'Expand DevOps Knowledge',
        description:
          'The DevOps landscape is constantly evolving, and staying up-to-date with the latest trends and technologies is crucial. We are committed to continuous learning and professional development. By exploring new tools, methodologies, and best practices',
        icon: 'tabler:book',
      },
      {
        title: 'Share Expertise and Insights',
        description:
          'Helping others navigate the world of DevOps is at the heart of what we do. We offer guidance, mentorship, and practical assistance to individuals and organizations seeking to implement DevOps practices',
        icon: 'tabler:share',
      },
      {
        title: 'Foster a Collaborative Community',
        description:
          'Building a strong, inclusive community is essential for mutual growth. We strive to create a space where members can connect, collaborate, and inspire each other.',
        icon: 'tabler:message-circle',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->
</Layout>
